{% extends 'base.html.twig' %}
{% block body %}
<h2>Listado de cursos</h2>

<ul>
  {% for curso in cursos %}
    <li>{{ curso.nombre }}
      <a href="{{ path('pixelpro_mis_cursos_mostrar', {'id': curso.id}) }}">Ver más</a>
      <a href="{{ path('pixelpro_mis_cursos_editar', {'id': curso.id}) }}">Editar</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}
